:root {
	--green: rgba(70, 140, 0, .5); /* #468C00 with a 50% alpha channel. */
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.content {
  padding: 60px;
}

/*** MY STYLES ***/

h1 {
	font-size: 1em;
}

.hero {
	color: #000;
	font-size: 50px;
	padding: 100px 0;
}

.hero.image {
	background: linear-gradient(to bottom, var(--green), var(--green)), url('../images/small.jpg');
	background-size: 100% 100%;
}

@media screen and (min-width: 768px) {
	.hero.image {
		background-image: linear-gradient(to bottom, var(--green), var(--green)), url('../images/medium.jpg');	
	}
}

@media screen and (min-width: 960px) {
	.hero.image {
		background-image: linear-gradient(to bottom, var(--green), var(--green)), url('../images/large.jpg');
	}
}
